WorkshopAutoTranslation/WorkshopAutoTranslation/obj
WorkshopAutoTranslation/WorkshopAutoTranslation/bin
WorkshopAutoTranslation/WorkShopTranslationV2/bin
WorkshopAutoTranslation/WorkShopTranslationV2/obj
WorkshopAutoTranslation/.vs