WorkshopAutoTranslation/WorkshopAutoTranslation/obj
WorkshopAutoTranslation/WorkshopAutoTranslation/bin
WorkshopAutoTranslation/WorkShopTranslationV2/bin
WorkshopAutoTranslation/WorkShopTranslationV2/obj
WorkshopAutoTranslation/WorkShopTranslationV2.Tests/bin
WorkshopAutoTranslation/WorkShopTranslationV2.Tests/obj
WorkshopAutoTranslation/.vs